KAYA_Instruments/lib/__pycache__/
KAYA_Instruments/Doc/_.py
scripts/driver-camara/oscuridad_por_pixel_full/*.npy
scripts/driver-camara/oscuridad_por_pixel_512/*.npy
scripts/driver-camara/oscuridad_full_2/*.npy
scripts/driver-camara/promedios_std_full/*.npy
scripts/driver-camara/ruido_total/*.npy
scripts/driver-camara/*.npy
scripts/driver-camara/matricesMVLD/
scripts/driver-camara/ruido_total
scripts/driver-camara/promedios_std_512
"scripts/calibracion-camara/comparacion FOV/"
*.npy
*.gz
*.tar
scripts/epi-iluminacion/FastLED-3.5.0*
imagenes/
cuaderno-labo/.obsidian/workspace
*__pycache__/
dask_cache/
